body {
  font-family: sans-serif;
  background: white;
  background-image:url(yukii11.jpg) ;
  margin: 0;
  padding: 0;
}
header{
  color: rgb(2, 24, 198);
  padding: 3em;
}
footer{
    color: white;
  padding: 10em;
}
nav a {
  color: #fff;
  margin-right: 1em;
  text-decoration: none;
}
main {
  padding: 2em;
}
