/*==================================
This stylesheet is used for demo 4
=================================*/

@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

:root{
  --family-display: 'Just Another Hand', cursive;

  --color-primary: #D405E7;
  --color-primary-hover: #A300B2;
  --color-primary-hue: #FDE2FF;
  --color-primary-rgb: 212, 5, 231;

  --color-bg-light: #F6F7FD;

  --logo-size-lg: 210px;
  --logo-size-md: 160px;
  --logo-size-sm: 120px;
}
