/*==================================
This stylesheet is used for demo 6
=================================*/

@font-face {
  font-family: "Mistral";
  src: url("../../fonts/mistral.ttf");
}

:root{
  --family-display: 'Mistral', cursive;

  --color-primary: #FFD119;
  --color-primary-hover: #D4AE16;
  --color-primary-hue: #FFFAE8;
  --color-primary-rgb: 255, 209, 25;

  --color-bg-light: #FBFBFB;

  --logo-size-lg: 180px;
  --logo-size-md: 140px;
  --logo-size-sm: 120px;
}

.button.primary{
  color: var(--color-secondary);
}

.section-title .family-display{
  font-size: 70px;
}

@media(max-width: 768px){
  .section-title .family-display{
    font-size: 50px;
  }
}

@media(max-width: 420px){
  .section-title .family-display{
    font-size: 40px;
  }
}
